{% extends "base.html"%}
{% block content %}
<h2>{{activity}} / delete</h2>
<a href="{% url 'tk:action_activity_delete' activity.pk %}">yes</a>
<br><br>
<a href="{% url 'tk:detail' activity.pk %}">no</a>
{% endblock content %}