{% extends "base.html"%}
{% block content %}
<h2>add activity</h2>
<form action="{{request.path}}" method="post">
{% csrf_token %}
{{add_activity_form.as_p}}
<input type="submit" value="add">
</form>
{% endblock content %}