{% extends "base.html"%}
{% block content %}
<h2>change password</h2>
<form action="{{request.path}}" method="post">
{% csrf_token %}
{{change_password_form.as_p}}
<input type="submit" value="change">
</form>
{% endblock content %}