{% extends "base.html"%}
{% block content %}
<h2>{{activity}}{% if activity.owner != request.user.profile %} (watching){% endif %}</h2>

{% if activity.owner == request.user.profile %}
    {% if activity.get_next_action == Activity.NEXT_ACTION_START %}
        <a href="{% url 'tk:action_start' activity.pk %}?next={{request.path}}">start</a>
    {% elif activity.get_next_action == Activity.NEXT_ACTION_STOP %}
        <a href="{% url 'tk:action_stop' activity.pk %}?next={{request.path}}">stop</a>
    {% endif %}
    <a href="{% url 'tk:activity_settings' activity.pk %}">settings</a>
    <a href="{% url 'tk:activity_delete' activity.pk %}">delete</a>
{% endif %}

<table>
    <tr>
        <td>total</td>
        <td>{{activity.total_str}}</td>
    </tr>
    <tr>
        <td>today</td>
        <td>{{activity.today_str}}</td>
    </tr>
    <tr>
        <td>this week</td>
        <td>{{activity.this_week_str}}</td>
    </tr>
    <tr>
        <td>this month</td>
        <td>{{activity.this_month_str}}</td>
    </tr>
    <tr>
        <td>last day</td>
        <td>{{activity.last_day_str}}</td>
    </tr>
    <tr>
        <td>last week</td>
        <td>{{activity.last_week_str}}</td>
    </tr>
    <tr>
        <td>last month</td>
        <td>{{activity.last_month_str}}</td>
    </tr>
</table>

<table>
    <tr>
        <td>total</td>
        <td>start</td>
        <td>stop</td>
        <td>note</td>
        <td></td>
        <td></td>
    </tr>
    {% for time_part in time_parts %}
        <tr>
            <td>{{time_part.time_str}}</td>
            <td>{{time_part.start_dt|date:"H:i:s d/m/y"}}</td>
            <td>
                {% if time_part.stop %}
                    {{time_part.stop_dt|date:"H:i:s d/m/y"}}
                {% endif %}
            </td>
            <td>{{time_part.note}}</td>
            <td>
                {% if activity.owner == request.user.profile %}
                    <a href="{% url "tk:edit_note" time_part.pk %}">edit</a>
                {% endif %}
            </td>
            <td>
                {% if activity.owner == request.user.profile %}
                    <a href="{% url 'tk:time_part_delete' time_part.pk %}">delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}