{% extends "base.html"%}
{% block content %}
<table>
    <tr>
        <td>activity</td>
        <td>start/stop</td>
        <td>total</td>
        <td>today</td>
        <td>this week</td>
        <td>this month</td>
        <td>last day</td>
        <td>last week</td>
        <td>last month</td>
        <td></td>
    </tr>
    {% for activity in activities %}
        <tr>
            <td>
                <a href="{% url 'tk:detail' activity.pk %}">{{activity}}</a>
                {% if activity.owner != request.user.profile %}(watching){% endif %}
            </td>
            <td>
                {% if activity.owner == request.user.profile %}
                    {% if activity.get_next_action == Activity.NEXT_ACTION_START %}
                        <a href="{% url 'tk:action_start' activity.pk %}">start</a>
                    {% elif activity.get_next_action == Activity.NEXT_ACTION_STOP %}
                        <a href="{% url 'tk:action_stop' activity.pk %}">stop</a>
                    {% endif %}
                {% endif %}
            </td>
            <td>{{activity.total_str}}</td>
            <td>{{activity.today_str}}</td>
            <td>{{activity.this_week_str}}</td>
            <td>{{activity.this_month_str}}</td>
            <td>{{activity.last_day_str}}</td>
            <td>{{activity.last_week_str}}</td>
            <td>{{activity.last_month_str}}</td>
            <td><a href="{% url 'tk:export-txt' activity.pk %}?start={{last_month_start}}&stop={{last_month_stop}}" target="_blank">export txt</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}