{% extends "base.html"%}
{% block content %}
<h2>global settings</h2>
<a href="{% url "tk:change_password" %}">change password</a>
<form action="{{request.path}}" method="post">
{% csrf_token %}
{{settings_form.as_p}}
<input type="submit" value="save">
</form>
{% endblock content %}