{% extends "base.html"%}
{% block content %}
<h2>{{time_part.activity}} / {{time_part.pk}} / delete</h2>
<a href="{% url 'tk:action_time_part_delete' time_part.pk %}">yes</a>
<br><br>
<a href="{% url 'tk:detail' time_part.activity.pk %}">no</a>
{% endblock content %}