{% extends "base.html"%}
{% block content %}
<h2>{{activity}} / time part</h2>
<form action="{{request.path}}" method="post">
{% csrf_token %}
{{time_part_form.as_p}}
<input type="submit" value="save">
</form>
{% endblock content %}