<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Time Keeper</title>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}main.css">
    </head>
    <body>
        {% block base_content %}
            <h1>Time Keeper</h1>
            {% if request.user.is_authenticated %}
                <p><a href="/">home</a>
                <a href="{% url "tk:add_activity" %}">add activity</a>
                <a href="{% url "tk:settings" %}">settings</a>
                | rendered at {% now "H:i:s d/m/y" %}
                | {{user}} <a href="{% url "tk:logout" %}?next=/">logout</a></p>
                {% block content %}
                {% endblock content %}
            {% else %}
                <a href="{% url "tk:login" %}">Log in</a>
            {% endif %}
        {% endblock base_content %}
        <hr>
        <p>Time Keeper, source on <a href="http://github.com/ondrejsika/time-keeper" target="_blank">GitHub</a> by <a href="http://ondrejsika.com" target="_blank">Ondrej Sika</a></p>
    </body>
</html>
