{% extends "base.html"%}
{% block base_content %}
<h1>Time Keeper</h1>

<form action="{{request.path}}" method="post">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="login">
</form>
{% endblock base_content %}